@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
html {
  font-size: 10px;
  font-family: 'Secular One', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  height: 100vh;
}
